html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}

.indented {text-indent: 4.00em;}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.center-children {
  text-align: center;
}
